body {
    background-color: #86A6A4;
}

.intro {
    background-image: url("images/rocks2water.jpg");
    background-size: cover;
    background-position: center center;
    
    color: #86A6A4;

    text-align: right;



    padding: 10px;
    margin: 0 auto;

    border-bottom: 40px solid #86A6A4;

}

.intro h1 {
    background-color: rgba(42, 55, 53, 0.8);
    color: rgba(23, 146, 187, 0.7);

    padding: 5px;

    width: 21%;
    font-size: 50px;

    margin-left: auto;

    border-radius: 6px;
}

.intro h2, .intro h3 {
    background-color: rgba(42, 55, 53, 0.8);

    padding: 4px;

    width: 18%;

    margin-left: auto;

    font-size: 30px;

    border-radius: 6px;
}

.intro h2::first-letter, .intro h3::first-letter {
    font-size: 35px;
    color: rgba(23, 146, 187, 0.7);
}

.intro p {
    background-color: rgba(42, 55, 53, 0.7);

    font-size: 18px;

    width: 20%;
    margin-left: auto;


}

.intro p::first-letter {
    font-size: 25px;
    color: rgba(23, 146, 187, 0.7);
}

#zen-supporting {
    background-image: url("images/rock4water.jpg");
    background-size: cover;
    background-position: center center;

    border-top: 10px solid #86A6A4;
}

.explanation, .participation, .benefits, .requirements {
    background-color: rgba(42, 55, 53, 0.8);
    color: #C1C4BE;

    padding: 10px;

    width: 30%;
}

.explanation::first-letter, .participation::first-letter, .benefits::first-letter, .requirements::first-letter {
    font-size: 30px;
    color: rgba(23, 146, 187, 0.7);
}

.sidebar { /* selects the sidebar element*/

    width: 20%; /* sets the width of the element to 15% */
    position: fixed; /* fixes the position of the element to glue it to the side*/

    top: 20%; /* places the element 300px from the top*/
    left: 40%;

    text-align: center; /* centers the text*/
    background-color: rgba(42, 55, 53, 0.8); /* changes the background color*/
 
   padding: 20px; /* adds padding to the element*/

   color: #C1C4BE; /* makes the text white */
}

ul {
    list-style:lower-roman; /* sets the list style to lower-roman*/

    padding: 0; /* removes padding from the element*/
    margin: 0; /* removes margin from the element*/

    list-style-position: inside;
}