#css-zen-garden {
    background-image: url("images/backgrnd.jpg");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.page-wrapper {
    width: 100%;
}

.intro h1 {
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-weight: 800;

    border: 2px solid #fff;
    border-style: double;
    border-radius: 10px;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    padding: 10px;

    background-image: url("images/topgrnd.jpg");
    background-size: cover;
    background-position: center center;
}

.intro h2 {
    text-align: center;

    font-size: 1.6em;

    color: #fff;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin: 20px;

    border-style: double;
    border-radius: 5px;
    border-color: #fff;
    padding: 10px;

    background-color: rgb(173, 173, 121);
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    align-content: center;

    text-align: center;
    color: #fff;

    font-family: Arial, Helvetica, sans-serif;

    width: 20%;

    background-color: rgba(167, 167, 89, 0.6);

    border-bottom: 5px solid white;
    border-top: 5px solid white;

    margin-bottom: 40px;
}

.preamble {

    text-align: center;

    padding: 10px;
    margin: 0 auto;

    width: 60%;

    background-color: rgb(164, 212, 228, 0.4); 
    color:#fff;

    border-bottom: 5px solid white;

    margin-bottom: 40px;
}

.preamble::first-letter {
    font-size: 2em;
} 

.explanation {
    width: 90%;

    padding: 10px;
    margin: 0 auto;
    background-color: rgba(167, 167, 89, 0.6);

    border-left: 5px solid white;

    color: #fff;
}

.explanation::first-letter {
    font-size: 2em;
}


.participation {
    text-align: right;
    width: 90%;

    background-color: rgba(167, 167, 89, 0.6);

    color: #fff;

    padding: 10px;
    margin: 0 auto;

    border-top: 5px solid white;
    border-right: 5px solid white;

}

.participation::first-letter {
    font-size: 2em;
}

.benefits {
    width: 90%;

    padding: 10px;
    margin: 0 auto;

    text-align: center;

    background-color: rgba(167, 167, 89, 0.6);

    border-left: 5px solid white;
    border-top: 5px solid white;

    color: #fff;

    margin-bottom: 40px;
}

.benefits::first-letter {
    font-size: 2em;
}

.requirements {
    display: grid;
    grid-template-columns: 50% 50%;

    padding: 10px;
    margin: 0 auto;

    text-align: center;

    background-image: url("images/rock3.jpg");
    background-size: cover;
    background-position: center center;

    border: solid 5px white;

    color: #fff;

    font-family:Arial, Helvetica, sans-serif;

    margin-bottom: 40px;
}

.zen-validate-html, .zen-validate-css, .zen-license, .zen-accessibility, .zen-github {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-items: center;
    align-items: center;

    background-color: #4CAF50;
    color: #fff;

    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;

    font-size: 16px;
    cursor: pointer;

    margin: 0 auto;
    margin-bottom: 10px;

    width: 5%;

}

.zen-validate-html:hover, .zen-validate-css:hover, .zen-license:hover, .zen-accessibility:hover, .zen-github:hover {
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    background-color: rgba(167, 167, 89, 0.6);
}

#zen-supporting{
    width: 80%;
}

.sidebar {

    width: 15%;
    float: right;
    position: fixed;
    right: 0;

    top: 300px;

    text-align: center;
    background-color: rgb(164, 212, 228, 0.4);

   padding: 20px;

   color: #fff;
}

a {
    text-decoration: none;
    color: rgb(164, 212, 228, 0.8);
}

a:hover {
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    color: #fff;
}

a:visited {
    color: rgba(0, 162, 216, 0.8);
}