#css-zen-garden { /* selects the root element */
    background-image: url("images/backgrnd.jpg"); /* changes the background image */
    background-size: cover; /* makes the image try to cover the page*/
    background-position: center center; /* centers the image on both axis*/

    display: flex; /* makes the page a flex container*/
    flex-direction: column; /* makes the flex container column oriented */
    align-items: center; /* centers the flex container */
    justify-content: center; /* centers the flex container */

    
}

.page-wrapper { /* selects the wrapper element */
    width: 100%; /* sets the width of the wrapper to 100% for safety sake*/
}

.intro h1 { /* specifically selects the h1 element in the intro class*/
    text-align: center; /* aligns the text to the center*/
    color: #fff; /* makes the text white */
    font-size: 3em; /* changes the size of the text to 3em*/
    font-weight: 800; /* changes the font thickness */

    border: 2px solid #fff; /* adds a solid border that is white*/
    border-style: double; /* adds the double style to the border*/
    border-radius: 10px; /* adds rounded corners to the border*/

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* changes the font family*/

    padding: 10px; /* adds padding to the element*/

    background-image: url("images/topgrnd.jpg"); /* changes the top ground image*/
    background-size: cover; /* makes the image try to cover the page*/
    background-position: center center; /* centers the image on both axis*/
}

.intro h2 { /* selects the h2 element in intro*/
    text-align: center; /* aligns the text to the center*/

    font-size: 1.6em; /* changes the size of the text to 1.6em*/

    color: #fff; /* makes the text white */

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* changes the font family*/

    margin: 20px; /* adds margin to the element*/

    border-style: double; /* adds the double style to the border*/
    border-radius: 5px; /* adds rounded corners to the border*/
    border-color: #fff; /* changes the border color to white*/
    padding: 10px; /* adds padding to the element*/

    background-color: rgb(173, 173, 121); /* changes the background color*/
}

.summary { /* selects the summary class */
    display: flex; /* makes the flex container*/
    flex-direction: column; /* makes the flex container column */
    align-items: center; /* centers the flex container */
    justify-content: center; /* centers the content of the flex container */
    margin: 0 auto; /* centers the flex container */
    padding: 10px; /* adds padding to the element*/
    align-content: center; /* aligns the content of the flex container */

    text-align: center; /* centers the text*/
    color: #fff; /* makes the text white */
    line-height: 145%; /* sets the line height to 145%*/


    font-family: Arial, Helvetica, sans-serif; /* changes the font family*/

    width: 20%; /* sets the width of the element to 20% */

    background-color: rgba(167, 167, 89, 0.6); /* changes the background color*/

    border-bottom: 5px solid white; /* adds a solid border to the bottom that is white*/
    border-top: 5px solid white; /* adds a solid border to the top that is white */

    margin-bottom: 40px; /* adds margin to the bottom of the element*/
}

.preamble { /* selects the preamble class */

    text-align: center; /* centers the text*/
    line-height: 145%; /* sets the line height to 125%*/

    padding: 10px; /* adds padding to the element*/
    margin: 0 auto; /* centers the element */

    width: 60%; /* sets the width of the element to 60% */

    background-color: rgba(164, 212, 228, 0.4);  /* changes the background color*/
    color:#fff; /* makes the text white */

    border-bottom: 5px solid white; /* adds a solid border that is white*/

    margin-bottom: 40px; /* adds margin to the bottom of the element*/
}

.explanation { /* selects the explanation class */
    width: 90%; /* sets the width of the element to 90% */
    line-height: 145%; /* sets the line height to 145%*/


    padding: 10px; /* adds padding to the element*/
    margin: 0 auto; /* centers the element */
    background-color: rgba(167, 167, 89, 0.6); /* changes the background color*/

    border-left: 5px solid white; /* adds a solid border that is faces left and is white*/

    color: #fff; /* sets text color white*/
}

.participation { /* selects the participation class*/
    text-align: right; /* aligns the text to the right*/
    width: 90%; /* sets the width of the element to 90% */
    line-height: 145%; /* sets the line height to 145%*/


    background-color: rgba(167, 167, 89, 0.6); /* changes the background color*/

    color: #fff; /* sets text color white*/

    padding: 10px; /* adds padding to the element*/
    margin: 0 auto; /* centers the element */

    border-top: 5px solid white; /* adds border to the top thats white */
    border-right: 5px solid white; /* adds border to the right thats white */

}

.benefits { /* selects the benefits class */
    width: 90%; /* sets the width of the element to 90% */
    line-height: 145%; /* sets the line height to 145%*/

    padding: 10px; /* adds padding to the element*/
    margin: 0 auto; /* centers the element */

    text-align: center; /* centers the text*/

    background-color: rgba(167, 167, 89, 0.6); /* changes the background color*/

    border-left: 5px solid white; /* adds a solid border to the left that is white*/
    border-top: 5px solid white; /* adds a solid border to the top that is white*/

    color: #fff; /* makes the text white */

    margin-bottom: 40px; /* adds margin to the bottom of the element*/
}

.benefits::first-letter, .preamble::first-letter, .explanation::first-letter, .participation::first-letter { /* specifically selects the first letter in benefits*/
    font-size: 2em; /* sets font size to 2em*/
    
}

.requirements { /* selects the requirements class */
    display: grid; /* puts the element to grid*/
    grid-template-columns: 50% 50%; /* sets the grid template to 2 columns*/

    padding: 10px; /* adds padding to the element*/
    margin: 0 auto; /* centers the element */

    text-align: center; /* centers the text*/
    text-indent: 20px; /* indents the text by 20px making the text easy to read*/
    line-height: 145%; /* sets the line height to 145%*/


    background-image: url("images/rock3.jpg"); /* changes the background image */
    background-size: cover; /* makes the image try to cover the page*/
    background-position: center center; /* centers the image on both axis*/
 
    border: solid 5px white; /* adds a solid border that is white*/

    color: #fff; /* makes the text white */

    font-family:Arial, Helvetica, sans-serif; /* changes the font family*/

    margin-bottom: 40px; /* adds margin to the bottom of the element*/
}  

.zen-validate-html, .zen-validate-css, .zen-license, .zen-accessibility, .zen-github { /* selects all the classes for the buttons to make them more uniform*/
    display: grid; /* displays a grid layout*/
    grid-template-rows: 20% 20% 20% 20% 20%; /* sets the grid template to 5 rows*/
    justify-items: center; /* centers the content of the grid*/
    align-items: center; /* aligns the content of the grid*/

    background-color: rgba(164, 212, 228, 0.9); /* changes the background color*/
    color: #fff; /* makes the text white */

    padding: 20px; /* adds padding to the element*/
    text-align: center; /* centers the text*/
    border: none; /* sets no border*/
    border-radius: 5px; /* adds rounded corners to the border*/

    font-size: 25px; /* changes the size of the text to 25px*/
    cursor: pointer; /* changes the cursor to a pointer*/

    margin: 0 auto; /* centers the element */
    margin-bottom: 10px; /* adds margin to the bottom of the element*/

    width: 5%; /* sets the width of the element to 5% */

}

.zen-validate-html:hover, .zen-validate-css:hover, .zen-license:hover, .zen-accessibility:hover, .zen-github:hover { /* selects all the buttons classes and their hover effects*/
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s; /* adds cubic bezier animation*/
    background-color: rgba(167, 167, 89, 0.6); /* changes the background color*/
}

#zen-supporting{ /* selects the supporting element*/
    width: 80%; /* sets the width of the element to 80% */
}

.sidebar { /* selects the sidebar element*/

    width: 15%; /* sets the width of the element to 15% */
    float: right; /* floats the element to the right*/
    position: fixed; /* fixes the position of the element to glue it to the side*/
    right: 0; /* places the element to the right*/

    top: 300px; /* places the element 300px from the top*/

    text-align: center; /* centers the text*/
    line-height: 145%; /* sets the line height to 145%*/
    background-color: rgba(164, 212, 228, 0.4); /* changes the background color*/
 
   padding: 20px; /* adds padding to the element*/

   color: #fff; /* makes the text white */
}

a { /* selects all links*/
    text-decoration: none; /* removes the underline from the link*/
    color: rgb(164, 212, 228, 0.8); /* changes the color of the link*/
}

a:hover { /* selects all links and their hover effects*/
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s; /* adds cubic bezier animation*/
    color: #fff; /* changes the color of the link*/
}

a:visited { /* visited links select*/
    color: rgba(0, 162, 216, 0.8); /* changes the color of the link*/
}
a:active { /* active links select*/
    color: rgba(0, 162, 216, 0.8); /* changes the color of the link*/
}

ul { /* selects all lists*/
    list-style-type: square; /* sets the list style to square*/
    list-style-position: inside; /* places the list inside the element*/
    padding: 0; /* removes padding from the element*/
    margin: 0; /* removes margin from the element*/
}